/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@font-face {
  font-family: 'Mairon';
  src: url('../fonts/Mairon/Mairon.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Mairon/Mairon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Mairon/Mairon.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Mairon/Mairon.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Mairon/Mairon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Mairon/Mairon.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  color: #222;
  line-height: 1.4;
  font-family: 'Cardo', sans-serif;
  font-size: 18px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.nav {
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .info {
    margin-top: 25px;
  }

  .hero {
    margin-top: 40px;
  }

  .bg {
    height: 700px;
  }

  .feature-text {
    width: 60%;
  }


  .img-feature {
    width: 450px;
  }

  .iframe-container {
    width: 400px;
    height: 215px;
  }


  .hero-text {
    font-size: 38px;
  }

  .hero-subtext {
    font-size: 18px;
  }

  .header-a {
    padding-left: 5px;
    padding-right: 5px;
    padding-right: 5px;
  }
  .play-section {
    visibility: hidden;
  }
}
@media (min-width: 576px) {

  .info {
    margin-top: 25px;
  }

  .hero {
    margin-top: 40px;
  }

  .bg {
    height: 700px;
  }

  .feature-text {
    width: 60%;
  }


  .img-feature {
    width: 450px;
  }

  .iframe-container {
    width: 500px;
    height: 215px;
  }

  .hero-subtext {
    font-size: 18px;
  }
  .header-a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .play-section {
    visibility: hidden;
  }
  .nav {
    margin: auto;
    width: 576px;
  }
}

.img-feature {
  align-self: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


  .iframe-container {
    width: 700px;
    height: 315px;
  }

  .hero-text {
    font-size: 44px;
  }
  .hero-subtext {
    font-size: 20px;
  }
  .header-a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav {
    width: 668px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .img-feature {
    width: 550px;
  }
  .play-section {
    visibility: visible;
  }
  .nav {
    width: 892px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .feature-text {
    width: 50%;
  }

  .nav {
    width: 1100px;
  }
}

@media (min-width: 1500px) {

  .info {
    margin-top: 150px;
  }

  .hero {
    margin-top: 100px;
  }

  .bg {
    height: 1000px;
  }
  .nav {
    width: 1300px;
  }
}

/* HERO */

.hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scroll-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}


.hero-text {
  font-family: "Mairon", sans-serif;
  color: lightgray;
  text-align: center;
  font-style: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
}

.hero-subtext {
  font-family: "Cardo", sans-serif;
  color: darkgray;
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
}

::selection {
  background: black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: black; /* Gecko Browsers */
}


/* BUTTONS */

.hero-buttons {
  display: inline-flex;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 0;
  justify-content: center;
}
.hero-btn {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0 ,0);
  transition: border-bottom 300ms;
  padding: 0 25px;
  line-height: 5px;
}

.hero-btn:hover {
  border-bottom: 1px solid rgba(193, 66, 66, 1);
}

/* GENERAL */

body {
  background-image: url("../img/bg.jpg");
}

.bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  background-image: url("../img/talmberg-new.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.header {
  position: relative;
  width: 100%;
  height: 700px;
}

/* NAV-BAR */


.nav-container {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: -10px;
  align-items: center;
}

.nav-main {
  padding-left: 20px;
}

.nav-bg {
  display: flex;
  align-items: center;
  width: 99%;
  height: 40px;
  background-image: url("../img/nav-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  padding-top: 20px;
}

.items {
  width: 100%;
  margin-left: 65px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #101010;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: darkslategrey;    /* color of the scroll thumb */
  border: 3px solid darkslategrey;  /* creates padding around scroll thumb */
}

#ucp-button {
  float: right;
  background-image: url("../img/button.png");
  border-radius: 3px;
  padding: 0 25px;
  margin-right: 25px;
}

.nav-top {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.info-title {
  text-align: center;
  font-size: 24px;
  color: lightsalmon;
  margin-bottom: 0;
}
.info-text {
  width: 60%;
  text-align: center;
  color: darkgray;
  margin-bottom: 50px;
}
.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.feature-container {
  margin-top: 10px;
  width: 100%;

}


.feature-text {
  margin-top: 0;
  color: darkgray;
}

.faq-div {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-ul {
  margin-top: 25px;
  width: 80%;
}

.question-li {
  text-align: left;
  font-size: 22px;
  color: lightgrey;
  font-weight: 800;
}

.faq-ul {
  color: lightgrey;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -25px;
  width: auto;
}

.feature {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  height: 420px;
  color: white;
}

.feature-div {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.feature-hr {
  overflow: visible; /* For IE */
  width: 40%;
  border: none;
  color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.0), rgb(255,255,255, 0.50), 	rgb(255,255,255, 0));
}

.faq-hr {
  overflow: visible; /* For IE */
  width: 80%;
  border: none;
  color: white;
  border: 0;
  height: 1px;
  margin-top: 0;
  margin-bottom: -5px;
  background-image: linear-gradient(to right, rgb(255,255,255, 0.30), rgb(255,255,255, 0.30), 	rgb(255,255,255, 0.30));
}


.iframe-container {
  position: relative;
  overflow: hidden;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

iframe {
  background-color: black;
  border: #0F0F0F solid;
  border-radius: 10px;
}

.feature-title {
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: -5px;
}


.label__text {
  opacity: .75;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 20px;
  color: lightgrey;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  display: block;
  position: relative;
}

.footer {
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-text {
  text-align: center;
  color: lightgrey;
}

.label {
  justify-content: center;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #393939;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%), inset 0 0 0 0 #393939;
  background: #0F0F0F;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding-top: 4px;
}


.play-section {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 25px;
  align-content: flex-end;
  justify-content: end;
  flex-direction: column;
  text-align: center;
}
#online-text {
  padding: 0;
  margin: 0;
}
#play-button {
  background-image: url("../img/button.png");
  border-radius: 3px;
  font-size: 26px;
  text-align: center;
  height: 35px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TAG STYLING */

.header-li {
  display: inline;
  float: left;
}

a {
  transition: color 300ms;
  color: white;
  text-decoration: none;
}

.header-a {
  transition: color 300ms;
  display: block;
  color: white;
}

.play-a {
  transition: color 300ms;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

a:hover
{
  color:lightsalmon;
  text-decoration:none;
  cursor:pointer;
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


