@font-face {
    font-family: 'Mairon';
    src: url('Mairon.eot');
    src: url('Mairon.eot?#iefix') format('embedded-opentype'),
        url('Mairon.woff2') format('woff2'),
        url('Mairon.woff') format('woff'),
        url('Mairon.ttf') format('truetype'),
        url('Mairon.svg#Mairon') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

